.navbar-brand {
	padding: 2px 15px;
}

.banner{
	position: fixed;
	bottom: 0;
	right: 0;
}

.banner img{
	width: 200px;
}

a:HOVER,
a:ACTIVE,
a:LINK {
	text-decoration: none;
	color: #edcf08;
}

.panel-btn .panel-title{
	float: left;
	padding-top: 7px;
}

.login{
	background: url("../images/bg_solid.png") no-repeat;
	background-size: cover;
}

.login .form-signin-heading{
	text-align: center;
}
.btn{
	border-radius: 0;	
}

.btn-blue{
	background: #308dff;
	color: white;
}

.btn-blue:hover{
	background: #0d73f0;
}

.navbar-inverse {
	background-color: #ffde00;
	border-color: #ffde00;
	border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a {
	color: #3e4648;
	padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #edcf08;
    color: #292c2d;
}

.navbar-brand{
	position: relative;
	/*top: -3px;*/
}

.navbar-toggle{
	border: none;
	background: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	border: none;
	background: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
}

.jumbotron{
	background: #E9EFF7;
}

.panel-success{
	border-radius: 0;
}

.panel-success>.panel-heading{
	background-color: #ffde00;
    border-color: #ffde00;
    min-height: 51px;
}

.panel-success{
	border-color: #ffde00;
}

.panel-success .panel-title{
	color: #3e4648;
}

a{
	color: #3282e3;
}

.pagination{
	border-radius: 0;
}

.pagination>li>a{
	border-radius: 0;
	border: 1px solid #dddddd;
	padding: 8px 12px;
}

.pagination>li:last-child>a, 
.pagination>li:last-child>span{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.pagination>li:first-child>a, 
.pagination>li:first-child>span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus{
	background-color: #ffde00;
	border-color: #ffde00;
	color: #3e4648;
}

.pagination>li>a:HOVER{
	background-color: #edcf08;
	border-color: #edcf08;
    color: #292c2d;
}

.breadcrumb{
	border: 1px solid #dddddd;
	border-radius: 0;
}

input[type="checkbox"].chbx-control{
	margin-left: 10px;
	position: relative;
	top: 6px;
	width: 20px;
	height: 20px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	background-color: #3282e3;
}

.btn-success{
	background-color: #90BE6A;
	border-color: #90BE6A;
	background-image: none;
}

.btn-primary{
	background-color: #F25443;
	border-color: #F25443;
	background-image: none;
}

.btn-danger {
    color: #ffffff;
    background: none;
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.btn-danger:HOVER {
	color: #ffffff;
	background: none;
	background-color: #d62c1a;
	border-color: #cd2a19;
}

.btn-default:HOVER{
	color: #ffffff;
	background: none;
	background-color: #2c2c2c;
	border-color: #272727;
}

.error-box{
	background: white;
	padding: 30px;
	text-align: center;
	font-size: 16px;
	border-radius: 10px;
}

.error-box h2{
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 0px;
}

.error-logo{
	margin: 0 auto 20px;
	display: block;
}

.map-form label,
.map-form input[type="text"],
.map-form input[type="tel"],
.map-form input[type="email"],
.map-form input[type="file"],
.map-form textarea,
.map-form select{
	display: block;
	width:100%;

}
.map-form{
	padding: 20px;
}
.map-form label{
	margin-bottom: 16px;
}
.map-form input[type="text"],
.map-form input[type="tel"],
.map-form input[type="email"],
.map-form input[type="file"],
.map-form textarea,
.map-form select{
	height: 36px;
	padding: 8px 12px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #777777;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.map-form textarea{
	height:198px;
}
.map-form input[type="file"]{
	border: 1px solid red;
	width: 100px;
	opacity:0;
	z-index: 1;
	position: relative;
	margin-bottom: 10px;
}
.map-form .input-file .btn-success {
	position: absolute;
	top:0;
	left:15px;
}

/* -------- DROPZONE IMAGE -------- */

.btn-upload{
	position: relative;
}
.btn-upload .thumbnail{
	padding: 0;
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 0;
}
.btn-upload input[type="file"]{
	width: 100%; 
	height: 100%; 
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity: 0;
	cursor: pointer;
}
.btn-upload .error{
	display: block;
}
.btn-upload .remove{
	position: absolute; 
	right: 10px;
	top: 10px;
	z-index: 99999;
}

/* -------- ALERTAS -------- */

.alert{
	border-radius: 0;
}

.alert-danger{
	background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff;
}

.alert-success{
	background-color: #00bc8c;
	border-color: #00bc8c;
	color: #ffffff;
}

.alert-warning {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #ffffff;
}

.alert-warning {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #ffffff;
}

.container .jumbotron, 
.container-fluid .jumbotron{
	background-color: #303030;	
	border-radius: 0;
}

/* -------- FORM -------- */

.form-control {
	border-radius: 0;
}

label {
    font-weight: bold;
}

.note{
    font-style: italic;
}